.welcome-screen-header {
    -fx-background-color: #6699FF;
    -fx-border-color: #CCCCCC;
}

.welcome-screen-body {
    -fx-background-color: #6699FF;
}

.welcome-screen-body .recent-projects {
    -fx-background-color: #fefefe;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1pt 1pt 1pt 0;
}

.welcome-screen-body .recent-projects .project-item {
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
}

.welcome-screen-body .recent-projects .project-item:hover {
    -fx-background-color: #1a58bb;
    -fx-border-color: #1a58bb;
    -fx-cursor: hand;
}

.welcome-screen-body .recent-projects .project-item .project-name {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
}

.welcome-screen-body .recent-projects .project-item:hover .project-name {
    -fx-text-fill: #ffffff;
}

.welcome-screen-body .recent-projects .project-item .project-path {
    -fx-font-size: 11px;
    -fx-text-fill: #6e6e6e;
}

.welcome-screen-body .recent-projects .project-item:hover .project-path {
    -fx-text-fill: #ffffff;
}

.welcome-screen-body .small-header {
    -fx-background-color: #dbdbdb;
    -fx-border-color: #d2d2d2;
    -fx-border-width: 1pt;
}

.welcome-screen-body .quick-start {
    -fx-background-color: #ededed;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1pt;
}