.welcome-screen-header {
    -fx-background-color: #6699FF;
    -fx-border-color: #CCCCCC;
}

.welcome-screen-body {
    -fx-background-color: #6699FF;
}

.welcome-screen-body .recent-projects {
    -fx-background-color: #fefefe;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1pt 1pt 1pt 0;
}

.welcome-screen-body .recent-projects .project-item {
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
}

.welcome-screen-body .recent-projects .project-item:hover {
    -fx-background-color: #1a58bb;
    -fx-border-color: #1a58bb;
    -fx-cursor: hand;
}

.welcome-screen-body .recent-projects .project-item .project-name {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
}

.welcome-screen-body .recent-projects .project-item:hover .project-name {
    -fx-text-fill: #ffffff;
}

.welcome-screen-body .recent-projects .project-item .project-path {
    -fx-font-size: 11px;
    -fx-text-fill: #6e6e6e;
}

.welcome-screen-body .recent-projects .project-item:hover .project-path {
    -fx-text-fill: #ffffff;
}

.welcome-screen-body .small-header {
    -fx-background-color: #dbdbdb;
    -fx-border-color: #d2d2d2;
    -fx-border-width: 1pt;
}

.welcome-screen-body .quick-start {
    -fx-background-color: #ededed;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1pt;
}

.ide-top-tool-panel {
    -fx-border-color: transparent transparent #ababab transparent;
}

.ide-left-tool-panel {
    -fx-border-color: transparent #ababab transparent transparent;
}

.ide-right-tool-panel {
    -fx-border-color: transparent transparent transparent #ababab;
}

.ide-bottom-tool-panel {
    -fx-border-color: #ababab transparent transparent transparent;
}

.ide-tool-button {
    -fx-border-radius: 0pt;
}

.ide-tool-button:selected {
    -fx-background-color: #c0c0c0;
}

.ide-tool-window-left {
    -fx-border-color: transparent #989898 transparent transparent;
}

.ide-tool-window-right {
    -fx-border-color: transparent transparent transparent #989898;
}

.ide-tool-window-bottom {
    -fx-border-color: #989898 transparent transparent transparent;
}

.ide-tool-window-body {
    -fx-border-color: transparent #980036 transparent transparent;
    -fx-background-color: #ffffff;
}

.ide-tool-window-header {
    -fx-border-color: transparent transparent #949daa transparent;
    -fx-background-color: #d1d9e5;
    -fx-min-height: 20pt;
    -fx-max-height: 20pt;
}

.context-menu {
}

.status-bar {
    -fx-background-color: #b3bece;
}

.status-bar-warning {
    -fx-background-color: #ede4a8;
}

.status-bar-error {
    -fx-background-color: #e398a5;
}

.status-bar .status-text-info {
    -fx-text-fill: #000000;
}

.status-bar .status-text-warning {
    -fx-text-fill: #76400d;
}

.status-bar .status-text-error {
    -fx-text-fill: #7a0a1d;
}

.collapsible-pane > .title {
    -fx-background-color: #f4f4f4;
    -fx-padding: 0, 0, 0, 0;
}

.collapsible-pane:expanded > .title {
    -fx-background-color: transparent;
}

.collapsible-pane > .title > .arrow-button {
    -fx-padding: 0 3 0 3
}

.collapsible-pane.without-padding > .title > .arrow-button {
    -fx-padding: 0 3 0 0
}

.collapsible-pane > *.content {
    -fx-background-color: #f4f4f4;
    -fx-border-width: 0, 0, 0, 0;
}

.collapsible-pane .content AnchorPane {
    -fx-padding: 0;
}

.inject-panel .property-name {
    -fx-font-size: 12;
    -fx-min-height: 25;
}

.inject-panel .property-editor {
    -fx-min-width: 100;
    -fx-font-size: 12;
    -fx-alignment: center-left;
}

.script-editor .collapsible-pane *.content {
    -fx-padding: 0 5 0 5;
}

.inject-panel .bean-editor {
}

.inject-panel .array-editor .add-button {
    -fx-font-size: 10;
}

.message-box {
    -fx-font-size: 12;
    -fx-background-color: #f2f2f2;
    -fx-min-width: 100;
    -fx-border-color: #949daa;
    -fx-border-radius: 3;
}

.configure {
    -fx-background-color: transparent;
    -fx-graphic: url("../../icons/configure.png");
}

.configure > .arrow-button {
    -fx-padding: 0;
}

.configure > .arrow-button > .arrow {
    -fx-padding: 0;
}

.webkit-inspector {
    -fx-min-width: 330;
    -fx-pref-width: 330;
}

.webkit-inspector .script-add-pane {
    -fx-min-height: 60;
    -fx-max-height: 60;
}

.webkit-inspector .script-add-pane .button {
    -fx-min-width: 200;
}

.webkit-inspector .script-add-pane .button {
    -fx-font-size: 13;
}

.webkit-inspector .script-enable {
    -fx-font-size: 11;
}

.webkit-inspector-header {

}

.webkit-inspector-header .parent-component-icon {
    -fx-image: url("../../icons/component.png");
}

.webkit-inspector-header .property-name {
    -fx-font-size: 12;
    -fx-min-width: 100;
}

.webkit-inspector-header .property-editor {
    -fx-font-size: 12;
    -fx-alignment: center-left;
}

.webkit-page .tree-view {
    -fx-background-color: #999999;
}

.webkit-page .tool-bar .button {
    -fx-font-size: 9;
}

.webkit-page .tree-view .drag-drop-in {
    -fx-border-color: #f4a70c;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.webkit-page .tree-view .drag-drop-after {
    -fx-border-color: transparent transparent #f4a70c transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.webkit-page .tree-view .drag-drop-before {
    -fx-border-color: #f4a70c transparent transparent transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.webkit-page .tree-view .drag-none {
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 1;
    -fx-border-insets: 0;
}

.webkit-page .tree-view .object-with-error {
    -fx-text-fill: #f33;
}

.script-menu-search {
}

.script-menu-search-icon {
    -fx-graphic: url("../../icons/search.png");
}

.select-field-button {
    -fx-graphic: url("../../icons/select.png");
    -fx-padding: 5px 3px 5px 5px;
}

.select-field-input {
    -fx-padding: 4px 3px 4px 25px;
}

.ui-scripting-panel {
    -fx-font-size: 11;
}

.ui-scripting-conditions {
}

.ui-scripting-panel .ui-scripting-label {
    -fx-font-size: 16;
}

.ui-scripting-delete-button {
    -fx-graphic: url("../../icons/uiScriptingDelete.png");
}

.ui-scripting-add-button {
    -fx-graphic: url("../../icons/uiScriptingAdd.png");
}

.ui-scripting-add-group {
    -fx-graphic: url("../../icons/uiScriptingGroup.png");
}

.ui-scripting-add-condition {
    -fx-graphic: url("../../icons/uiScriptingCondition.png");
}

.ui-scripting-actions-label {
    -fx-font-size: 19;
}

/* Меню верхней панели */
.panel_top_menu {
    margin-top: 2px;
    -fx-border-radius: 4px 4px 0 0;
}

/* Кнопка на боковой панели */
.panel_btn {
}
.panel_btn:hover {
}

/* Кнопка на панели сообщений */
.panel_btn_msg {
}
.panel_btn_msg:hover {
}

/* Фон нижней панели с сообщениями */
.panel_msg .list-cell {
}

/* Фон боковой панели */
.panel_bg {
}
.ide-left-tool-panel {
}
.ide-right-tool-panel {
}

/* Компоненты */
.category-1,
.category-2,
.category-3,
.category-4,
.category-5,
.category-6,
.category-7,
.category-8,
.category-9 {
    -fx-text-fill: #fff;
}
.category-1 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #e3ab3a 10%, #e3ab3a 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-2 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #76b242 10%, #76b242 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-3 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #4c9986 10%, #4c9986 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-4 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #44a5c5 10%, #44a5c5 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-5 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #b573b8 10%, #b573b8 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-6 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #7568b4 10%, #7568b4 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-7 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #362d5f 10%, #362d5f 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-8 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #e0414b 10%, #e0414b 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}
.category-9 > .title {
    -fx-background-color: linear-gradient(to right, #f4f4f4 0%, #8f9096 10%, #8f9096 55%, #f4f4f4 90%, #f4f4f4 100%);
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.8), 12, 0.7, 0, 0);
}