.welcome-screen-header {
    -fx-background-color: #6699FF;
    -fx-border-color: #CCCCCC;
}

.welcome-screen-body {
    -fx-background-color: #6699FF;
}

.welcome-screen-body .recent-projects {
    -fx-background-color: #fefefe;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1pt 1pt 1pt 0;
}

.welcome-screen-body .recent-projects .project-item {
    -fx-pref-height: 50px;
    -fx-min-height: 50px;
}

.welcome-screen-body .recent-projects .project-item:hover {
    -fx-background-color: #1a58bb;
    -fx-border-color: #1a58bb;
    -fx-cursor: hand;
}

.welcome-screen-body .recent-projects .project-item .project-name {
    -fx-font-size: 13px;
    -fx-text-fill: #000000;
}

.welcome-screen-body .recent-projects .project-item:hover .project-name {
    -fx-text-fill: #ffffff;
}

.welcome-screen-body .recent-projects .project-item .project-path {
    -fx-font-size: 11px;
    -fx-text-fill: #6e6e6e;
}

.welcome-screen-body .recent-projects .project-item:hover .project-path {
    -fx-text-fill: #ffffff;
}

.welcome-screen-body .small-header {
    -fx-background-color: #dbdbdb;
    -fx-border-color: #d2d2d2;
    -fx-border-width: 1pt;
}

.welcome-screen-body .quick-start {
    -fx-background-color: #ededed;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 1pt;
}

.ide-top-tool-panel {
    -fx-border-color: transparent transparent #ababab transparent;
}

.ide-left-tool-panel {
    -fx-border-color: transparent #ababab transparent transparent;
}

.ide-right-tool-panel {
    -fx-border-color: transparent transparent transparent #ababab;
}

.ide-bottom-tool-panel {
    -fx-border-color: #ababab transparent transparent transparent;
}

.ide-tool-button {
    -fx-border-radius: 0pt;
}

.ide-tool-button:selected {
    -fx-background-color: #c0c0c0;
}

.ide-tool-window-left {
    -fx-border-color: transparent #989898 transparent transparent;
}

.ide-tool-window-right {
    -fx-border-color: transparent transparent transparent #989898;
}

.ide-tool-window-bottom {
    -fx-border-color: #989898 transparent transparent transparent;
}

.ide-tool-window-body {
    -fx-border-color: transparent #980036 transparent transparent;
    -fx-background-color: #ffffff;
}

.ide-tool-window-header {
    -fx-border-color: transparent transparent #949daa transparent;
    -fx-background-color: #d1d9e5;
    -fx-min-height: 20pt;
    -fx-max-height: 20pt;
}

.context-menu {
}

.status-bar {
    -fx-background-color: #b3bece;
}

.status-bar-warning {
    -fx-background-color: #ede4a8;
}

.status-bar-error {
    -fx-background-color: #e398a5;
}

.status-bar .status-text-info {
    -fx-text-fill: #000000;
}

.status-bar .status-text-warning {
    -fx-text-fill: #76400d;
}

.status-bar .status-text-error {
    -fx-text-fill: #7a0a1d;
}

.collapsible-pane > .title {
    -fx-background-color: #f4f4f4;
    -fx-padding: 0, 0, 0, 0;
}

.collapsible-pane:expanded > .title {
    -fx-background-color: transparent;
}

.collapsible-pane > .title > .arrow-button {
    -fx-padding: 0 3 0 3
}

.collapsible-pane.without-padding > .title > .arrow-button {
    -fx-padding: 0 3 0 0
}

.collapsible-pane > *.content {
    -fx-background-color: #f4f4f4;
    -fx-border-width: 0, 0, 0, 0;
}

.collapsible-pane .content AnchorPane {
    -fx-padding: 0;
}

.inject-panel .property-name {
    -fx-font-size: 12;
    -fx-min-height: 25;
}

.inject-panel .property-editor {
    -fx-min-width: 100;
    -fx-font-size: 12;
    -fx-alignment: center-left;
}

.script-editor .collapsible-pane *.content {
    -fx-padding: 0 5 0 5;
}

.inject-panel .bean-editor {
}

.inject-panel .array-editor .add-button {
    -fx-font-size: 10;
}

.message-box {
    -fx-font-size: 12;
    -fx-background-color: #f2f2f2;
    -fx-min-width: 100;
    -fx-border-color: #949daa;
    -fx-border-radius: 3;
}

.configure {
    -fx-background-color: transparent;
    -fx-graphic: url("../../icons/configure.png");
}

.configure > .arrow-button {
    -fx-padding: 0;
}

.configure > .arrow-button > .arrow {
    -fx-padding: 0;
}

.webkit-inspector {
    -fx-min-width: 330;
    -fx-pref-width: 330;
}

.webkit-inspector .script-add-pane {
    -fx-min-height: 60;
    -fx-max-height: 60;
}

.webkit-inspector .script-add-pane .button {
    -fx-min-width: 200;
}

.webkit-inspector .script-add-pane .button {
    -fx-font-size: 13;
}

.webkit-inspector .script-enable {
    -fx-font-size: 11;
}

.webkit-inspector-header {

}